<h1 style="font-size: 24px; font-weight: bold;">Sales Summary</h1>
<p>Total Sales:
    <%= totalSales %>
</p>
<p>Average Order Amount:
    <%= averageOrderAmount %>
</p>
<p>Total Orders:
    <%= totalOrders %>
</p>