<!-- <table style="border:1px solid black;text-align:left;">
    <tr>
        <th style="border:1px solid black;text-align:center;">Name</th>
        <th style="border:1px solid black;text-align:center;">SKU</th>
        <th style="border:1px solid black;text-align:center;">Total Sales</th>
        <th style="border:1px solid black;text-align:center;">Quantity Sold</th>
    </tr>
    <% topProducts.forEach(product => { %>
        <tr>
            <td style="border:1px solid black;text-align:center;">
                <%= product.product_name %>
            </td>
            <td style="border:1px solid black;text-align:center;">
                <%= product.sku %>
            </td>
            <td style="border:1px solid black;text-align:center;">
                <%= product.product_sale_amount %>
            </td>
            <td style="border:1px solid black;text-align:center;">
                <%= product.quantity_sold %>
            </td>
        </tr>
        <% }) %>

</table> -->

<div class="table100 ver1 m-b-110">
    <div class="table100-head">
    <table>
    <thead>
    <tr class="row100 head">
    <th class="cell100 column1">Name</th>
    <th class="cell100 column2">SKU</th>
    <th class="cell100 column3">Total Sales</th>
    <th class="cell100 column4">Quantity Sold</th>
    </tr>
    </thead>
    </table>
    </div>
    <div class="table100-body js-pscroll ps ps--active-y">
    <table>
    <tbody>
    <tr class="row100 body">
    <td class="cell100 column1">Like a butterfly</td>
    <td class="cell100 column2">Boxing</td>
    <td class="cell100 column3">9:00 AM - 11:00 AM</td>
    <td class="cell100 column4">Aaron Chapman</td>
    </tr>
    <tr class="row100 body">
    <td class="cell100 column1">Mind &amp; Body</td>
    <td class="cell100 column2">Yoga</td>
    <td class="cell100 column3">8:00 AM - 9:00 AM</td>
    <td class="cell100 column4">Adam Stewart</td>
    </tr>
    <tr class="row100 body">
    <td class="cell100 column1">Crit Cardio</td>
    <td class="cell100 column2">Gym</td>
    <td class="cell100 column3">9:00 AM - 10:00 AM</td>
    <td class="cell100 column4">Aaron Chapman</td>
    </tr>
    <tr class="row100 body">
    <td class="cell100 column1">Wheel Pose Full Posture</td>
    <td class="cell100 column2">Yoga</td>
    <td class="cell100 column3">7:00 AM - 8:30 AM</td>
    <td class="cell100 column4">Donna Wilson</td>
    </tr>
    <tr class="row100 body">
    <td class="cell100 column1">Playful Dancer's Flow</td>
    <td class="cell100 column2">Yoga</td>
    <td class="cell100 column3">8:00 AM - 9:00 AM</td>
    <td class="cell100 column4">Donna Wilson</td>
    </tr>
    <tr class="row100 body">
    <td class="cell100 column1">Zumba Dance</td>
    <td class="cell100 column2">Dance</td>
    <td class="cell100 column3">5:00 PM - 7:00 PM</td>
    <td class="cell100 column4">Donna Wilson</td>
    </tr>
    <tr class="row100 body">
    <td class="cell100 column1">Cardio Blast</td>
    <td class="cell100 column2">Gym</td>
    <td class="cell100 column3">5:00 PM - 7:00 PM</td>
    <td class="cell100 column4">Randy Porter</td>
    </tr>
    <tr class="row100 body">
    <td class="cell100 column1">Pilates Reformer</td>
    <td class="cell100 column2">Gym</td>
    <td class="cell100 column3">8:00 AM - 9:00 AM</td>
    <td class="cell100 column4">Randy Porter</td>
    </tr>
    <tr class="row100 body">
    <td class="cell100 column1">Supple Spine and Shoulders</td>
    <td class="cell100 column2">Yoga</td>
    <td class="cell100 column3">6:30 AM - 8:00 AM</td>
    <td class="cell100 column4">Randy Porter</td>
    </tr>
    <tr class="row100 body">
    <td class="cell100 column1">Yoga for Divas</td>
    <td class="cell100 column2">Yoga</td>
    <td class="cell100 column3">9:00 AM - 11:00 AM</td>
    <td class="cell100 column4">Donna Wilson</td>
    </tr>
    <tr class="row100 body">
    <td class="cell100 column1">Virtual Cycle</td>
    <td class="cell100 column2">Gym</td>
    <td class="cell100 column3">8:00 AM - 9:00 AM</td>
    <td class="cell100 column4">Randy Porter</td>
    </tr>
    <tr class="row100 body">
    <td class="cell100 column1">Like a butterfly</td>
    <td class="cell100 column2">Boxing</td>
    <td class="cell100 column3">9:00 AM - 11:00 AM</td>
    <td class="cell100 column4">Aaron Chapman</td>
    </tr>
    <tr class="row100 body">
    <td class="cell100 column1">Mind &amp; Body</td>
    <td class="cell100 column2">Yoga</td>
    <td class="cell100 column3">8:00 AM - 9:00 AM</td>
    <td class="cell100 column4">Adam Stewart</td>
    </tr>
    <tr class="row100 body">
    <td class="cell100 column1">Crit Cardio</td>
    <td class="cell100 column2">Gym</td>
    <td class="cell100 column3">9:00 AM - 10:00 AM</td>
    <td class="cell100 column4">Aaron Chapman</td>
    
    </tr>
    <tr class="row100 body">
    <td class="cell100 column1">Wheel Pose Full Posture</td>
    <td class="cell100 column2">Yoga</td>
    <td class="cell100 column3">7:00 AM - 8:30 AM</td>
    <td class="cell100 column4">Donna Wilson</td>
    
    </tr>
    <tr class="row100 body">
    <td class="cell100 column1">Playful Dancer's Flow</td>
    <td class="cell100 column2">Yoga</td>
    <td class="cell100 column3">8:00 AM - 9:00 AM</td>
    <td class="cell100 column4">Donna Wilson</td>
    
    </tr>
    <tr class="row100 body">
    <td class="cell100 column1">Zumba Dance</td>
    <td class="cell100 column2">Dance</td>
    <td class="cell100 column3">5:00 PM - 7:00 PM</td>
    <td class="cell100 column4">Donna Wilson</td>
    
    </tr>
    <tr class="row100 body">
    <td class="cell100 column1">Cardio Blast</td>
    <td class="cell100 column2">Gym</td>
    <td class="cell100 column3">5:00 PM - 7:00 PM</td>
    <td class="cell100 column4">Randy Porter</td>
    
    </tr>
    <tr class="row100 body">
    <td class="cell100 column1">Pilates Reformer</td>
    <td class="cell100 column2">Gym</td>
    <td class="cell100 column3">8:00 AM - 9:00 AM</td>
    <td class="cell100 column4">Randy Porter</td>
    </tr>
    <tr class="row100 body">
    <td class="cell100 column1">Supple Spine and Shoulders</td>
    <td class="cell100 column2">Yoga</td>
    <td class="cell100 column3">6:30 AM - 8:00 AM</td>
    <td class="cell100 column4">Randy Porter</td>
    </tr>
    <tr class="row100 body">
    <td class="cell100 column1">Yoga for Divas</td>
    <td class="cell100 column2">Yoga</td>
    <td class="cell100 column3">9:00 AM - 11:00 AM</td>
    <td class="cell100 column4">Donna Wilson</td>
    </tr>
    <tr class="row100 body">
    <td class="cell100 column1">Virtual Cycle</td>
    <td class="cell100 column2">Gym</td>
    <td class="cell100 column3">8:00 AM - 9:00 AM</td>
    <td class="cell100 column4">Randy Porter</td>
    </tr>
    </tbody>
    </table>
    <div class="ps__rail-x" style="left: 0px; bottom: -580.8px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 580.8px; height: 585px; right: 5px;"><div class="ps__thumb-y" tabindex="0" style="top: 291px; height: 293px;"></div></div></div>
    </div>